@media (max-width: 1200px) {
  .header {
    &__logo {
      display: none;
    }
    &__logo-adaptive {
      display: block;
      img {
        margin-top: 30px;
        margin-right: 15px;
      }
    }
  }
  
  .title {
    &__head {
      font-size: 60px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
  
  .slider {
    &__carousel {
      height: 530px;
    }
    &__slide{
      height: 440px;
    }
  }
  
  .about {
    &-info__col {
      margin: 0 auto;
      margin-bottom: 50px;
    }
    &-info__col-img {
      width: 140px;
      height: 140px;
      .col-img__inner {
        width: 130px;
        height: 130px;
        .col-img__image {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .header__logo-adaptive {
    display: none;
  }
  .header {
    height: 100px;
    &__menu {
      justify-content: flex-start;
      text-align: center;
      padding-top: 40px;
      max-width: 850px;
      margin: 0 auto;
    }
  }
  .header a {
    font-size: 20px;
  }
  
  .list-1 {
    margin-left: 40px;
  }
  .list-2 {
    margin-left: 80px;
  }
  .slider {
    &__subtitle {
      display: none;
      &-adaptive {
        display: block;
        font-size: 26px;
        color: #f7ebd8;
        text-align: center;
      }
    }
  }
  
  .about {
    &-info__col-title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &-info__col-subtitle {
      font-size: 16px;
      padding-bottom: 15px;
    }
  }
  
  .portfolio {
    &-items{
      max-width: 700px;
      margin: 0 auto;
    }
  }
  
  .blog {
    &-items {
      &__item {
        flex-wrap: wrap;
        &-img {
          margin: 0 auto;
          margin-bottom: 20px;
        }
        &-title {
          text-align: center;
        }
        &-text {
          margin-bottom: 70px;
        }
        &-user {
          padding-right: 50px;
          margin-bottom: 8px;
        }
        &-box{
          padding: 0 50px;
          margin: 0 auto;
        }
        &-subtitle {
          flex-wrap: wrap;
          &::before {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .slider {
    &__carousel {
      height: 430px;
    }
    &__slide {
      height: 340px;
    }
  }
}

@media (max-width: 850px) {
  .contact-form {
    input::placeholder {
      font-size: 18px;
    }
    textarea::placeholder {
      font-size: 18px;
    }
  }
  .slider {
    &__container{
      padding: 0 50px;
    }
    &__carousel {
      height: 350px;
      &-subtitle {
        font-size: 18px;
      }
    }
    &__slide {
      height: 290px;
    }
  }
  .retro {
    &__title-default {
      display: none;
    }
    &__title-adaptive.med {
      display: block;
    }
    
    &__ribbon {
      display: none;
    }
    &__ribbon-adaptive.med {
      display: block;
    }
    
    &__subtitle-text {
      font-size: 18px;
    }
  }
  .list-1 {
    margin-left: 20px;
  }
  .list-2 {
    margin-left: 40px;
  }
  .header__menu {
    justify-content: flex-start;
    text-align: center;
    padding-top: 40px;
    max-width: 650px;
    margin: 0 auto;
    & li + li {
      margin-left: 40px;
    }
  }
}

@media (max-width: 700px) {
  .portfolio {
    &-items {
      max-width: 310px;
    }
    &-item {
      margin: 0;
      margin-bottom: 30px;
    }
  }
}


@media (max-width: 670px) {
  .header__menu {
    display: none;
  }
  .header__bars {
    padding-top: 25px;
    display: flex;
    &-icon {
      display: block;
      width: 40px;
      background-color: #7ec1c1;
      z-index: 100;
      transition: all .3s;
      margin-top: 10px;
      &.open {
        .bar-once {
          opacity: 0;
        }
        .bar-1 {
          transition: all .3s;
          transform: rotate(45deg) translate(40%, -50%);
        }
        .bar-3 {
          transition: all .3s;
          transform: rotate(-45deg) translate(45%, -50%);
        }
      }
    }
    .bar {
      width: 40px;
      margin-bottom: 7px;
      background-color: #f6edd8;
      height: 5px;
      border-radius: 2px;
    }
    .bar-1 {
      transition: all .3s;
      transform: rotate(0deg) translate(0, 0);
    }
    .bar-3 {
      transition: all .3s;
      transform: rotate(0deg) translate(0, 0);
    }
    .bar-once {
      transition: all .3s;
      opacity: 1;
    }
    &-menu {
      max-width: 600px;
      width: 100%;
      transform: translateX(-120%);
      transition: all .5s;
      opacity: 0;
      &.open {
        transform: translateX(20%);
        transition: all .5s;
        opacity: 1;
      }
      &__item {
        display: flex;
        margin-bottom: 10px;
        a + a{
          margin-left: 60px;
        }
        a {
          position: relative;
          padding-left: 15px;
        }
        a::before {
          content: "";
          position: absolute;
          background-image: url('../images/angle-right.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 12px;
          width: 7px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &__link {
        font-size: 20px;
        color: #f6edd8;
      }
    }
  }
  .retro__subtitle-text {
    font-size: 18px;
  }
  .blog-items__item-title {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .slider {
    &__carousel {
      height: 280px;
    }
    &__slide {
      height: 220px;
    }
  }
}

@media (max-width: 550px) {
  .title {
    margin-top: 30px;
    &__head {
      font-size: 40px;
      line-height: 70px;
    }
    &__subtitle {
      font-size: 15px;
    }
  }
}

@media (max-width: 380px) {
  .header__bars-menu.open {
    transform: translateX(10%);
  }
}